<% layout('layouts/boilerplate')%>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="heading-section mb-5 pb-md-4">Carousel #10</h2>
      </div>
      <div class="col-md-12">
        <div class="slider-hero">
          <div class="featured-carousel owl-carousel">

            <div class="item">
              <div class="work">
                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/image/body.png);">
                  
                </div>
              </div>
            </div>
            
            <div class="item">
              <div class="work">
                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/image/Logo.png);">
                  
                </div>
              </div>
            </div>
            <div class="item">
              <div class="work">
                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/image/Star.GIF);">
                  
                </div>
              </div>
            </div>
            <div class="item">
              <div class="work">
                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/image/body.png);">
                  
                </div>
              </div>
            </div>
            
            <div class="item">
              <div class="work">
                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/image/Logo.png);">
                  
                </div>
              </div>
            </div>
            <div class="item">
              <div class="work">
                <div class="img d-flex align-items-center justify-content-center" style="background-image: url(/image/Star.GIF);">
                  
                </div>
              </div>
            </div>


          </div>

          <div class="my-5 text-center">
            <ul class="thumbnail">
              <li class="active img"><a href="#"><img src="/image/body.png" alt="Image" class="img-fluid"></a></li>
              <li><a href="#"><img src="/image/Logo.png" alt="Image" class="img-fluid"></a></li>
              <li><a href="#"><img src="/image/Star.GIF" alt="Image" class="img-fluid"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="heading-section mb-5 pb-md-4">Carousel #10</h2>
      </div>
      <div class="col-md-12">
        <div class="slider-hero">
          <div class="featured-carousel owl-carousel">
            <%menu.images.forEach(image => {%>
            <div class="item">
              <div class="work">
                <div
                  class="img d-flex align-items-center justify-content-center"
                  style="background-image: url(<%= image.imageUrl %>)"
                >
                  <div class="text text-center"></div>
                </div>
              </div>
            </div>
            <% }); %>
          </div>

          <div class="my-5 text-center">
            <ul class="thumbnail">
              <% let isFirst = true; %> <%menu.images.forEach(image => {%>
              <li class="<%= isFirst ? 'active' : '' %> img">
                <a href="#"
                  ><img
                    src="<%= image.imageUrl %>"
                    alt="<%= image.imageName %>"
                    class="img-fluid"
                /></a>
              </li>
              <% isFirst = false; %> <% }); %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container py-3">
  <!-- Card Start -->
  <div class="card">
    <div class="row">
      <div class="row">
        <!--carousel start-->
        <div class="col-md-5">
          <div
            id="carouselExampleAutoplaying"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-inner">
              <% let isFirst2 = true; %> <%menu.images.forEach(image => { %>
              <div class="carousel-item <%= isFirst ? 'active' : '' %>">
                <img
                  src="<%= image.imageUrl %>"
                  class="d-block w-100"
                  alt="<%= image.imageName %>"
                  style="max-height: 300px"
                />
              </div>
              <% isFirst2 = false; %> <% }); %>
            </div>
            <button
              class="carousel-control-prev"
              type="button"
              data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev"
            >
              <span
                class="carousel-control-prev-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button
              class="carousel-control-next"
              type="button"
              data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next"
            >
              <span
                class="carousel-control-next-icon"
                aria-hidden="true"
              ></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <!--carousel stop-->
        <div class="col-md-7 px-3">
          <div class="card-body">
            <h4 class="card-title"><%=menu.title%></h4>
            <p class="card-text"><%=menu.description%></p>
            <p class="card-text"><%=menu.description%></p>
            <br />
            <% if( currentUser && menu.author.equals(currentUser._id)) {%>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <a
                href="/menus/<%=menu.type.typeCode%>/<%=menu._id%>/edit"
                class="mt-auto btn btn-primary"
                >Edit Menu</a
              >
              <form
                action="/menus/<%=menu.type.typeCode%>/<%=menu._id%>?_method=DELETE"
                method="POST"
              >
                <button class="auto btn btn-danger">Delete Menu</button>
              </form>
            </div>
            <% } %>
          </div>
          <!--card stop-->
        </div>
      </div>
    </div>

    <script>
      const menu = { features: <%- JSON.stringify(menu) %>};
    </script>
  </div>
</div>
